In [ ]:
import pandas as pd

df = pd.read_csv("C:/Users/barro/Downloads/RegistrosMesclados.csv")

df["matricula_ou_siape"] = df["matricula_ou_siape"].astype(str)

print(df.info())
print(df.columns)
print(df.dtypes)
print(df.loc[df["matricula_ou_siape"] == "20200045888.0"])
print("gO")
df.to_csv("DataFrameDesafio_2.csv", index=None)


#esta parte do código apenas muda o tipo de dado das matrículas.

In [31]:
print(df.info())
print(df[df['id_emprestimo'].duplicated() == True].sort_values(by='id_emprestimo'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235180 entries, 0 to 2235179
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    object
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  registro_sistema      float64
dtypes: float64(3), int64(1), object(9)
memory usage: 221.7+ MB
None
         id_emprestimo codigo_barras                 data_renovacao  \
4               709684       L095049                            NaN
5               709685       L167050                            NaN
6               709686    2006017618  2010/01/26 08:07:01.738000000
7               709687       L184117  2010/01/18 11:07:46.470000000
19              709698    2009047725  2010/01/18 14:44:41.163000000
...                ...           ...                            ...
1850117       10312580    2013072328                            NaN
1850732       10315036    2013077764  2017/12/27 12:43:12.490000000
1851240       10317144    2016031936  2018/01/02 23:50:20.849000000
1851989       10320136    2014059190  2017/12/24 09:42:10.313000000
1852303       10321388    2011056572                            NaN

                       data_emprestimo                 data_devolucao  \
4        2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
5        2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
6        2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
7        2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
19       2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000
...                                ...                            ...
1850117  2017/12/12 10:28:45.115000000  2017/12/18 14:00:36.000000000
1850732  2017/12/14 12:07:12.178000000  2018/01/23 08:23:59.000000000
1851240  2017/12/18 16:38:43.417000000  2018/01/04 10:53:57.000000000
1851989  2017/12/22 10:44:28.475000000  2018/01/10 10:32:42.000000000
1852303  2017/12/27 15:13:33.651000000  2018/01/10 17:19:02.000000000

        matricula_ou_siape    tipo_vinculo_usuario  id_exemplar  \
4             2008023265.0      ALUNO DE GRADUAÇÃO      13259.0
5             2008023265.0      ALUNO DE GRADUAÇÃO      70865.0
6             2008112114.0  ALUNO DE PÓS-GRADUAÇÃO     195347.0
7              200721119.0      ALUNO DE GRADUAÇÃO     131639.0
19            2009046838.0      ALUNO DE GRADUAÇÃO     281004.0
...                    ...                     ...          ...
1850117      20161005287.0  ALUNO DE PÓS-GRADUAÇÃO    1077927.0
1850732      20181007126.0  ALUNO DE PÓS-GRADUAÇÃO    1071017.0
1851240       2013064798.0      ALUNO DE GRADUAÇÃO    1249575.0
1851989      20170018972.0      ALUNO DE GRADUAÇÃO    1157059.0
1852303       2016067541.0      ALUNO DE GRADUAÇÃO    1135595.0

                   colecao                                         biblioteca  \
4        Acervo Circulante                     Biblioteca Central Zila Mamede
5        Acervo Circulante                     Biblioteca Central Zila Mamede
6        Acervo Circulante  Biblioteca Setorial Prof. Rodolfo Helinski - E...
7        Acervo Circulante                     Biblioteca Central Zila Mamede
19       Acervo Circulante  Biblioteca Setorial do Centro Ciências da Saúd...
...                    ...                                                ...
1850117  Acervo Circulante                     Biblioteca Central Zila Mamede
1850732  Acervo Circulante                     Biblioteca Central Zila Mamede
1851240  Acervo Circulante                     Biblioteca Central Zila Mamede
1851989  Acervo Circulante                     Biblioteca Central Zila Mamede
1852303  Acervo Circulante                     Biblioteca Central Zila Mamede

        status_material  localizacao  registro_sistema
4               REGULAR        630.0            4225.0
5               REGULAR        647.0           25009.0
6               REGULAR        640.0           75019.0
7               REGULAR        609.0           44494.0
19              REGULAR        651.0          123552.0
...                 ...          ...               ...
1850117         REGULAR        363.0          201613.0
1850732         REGULAR        372.0          200370.0
1851240         REGULAR        560.0          237555.0
1851989         REGULAR        117.0          214792.0
1852303         REGULAR        696.0           29254.0

[3760 rows x 13 columns]

In [27]:
print(df.duplicated(['id_emprestimo'], keep=False))

0           True
1           True
2           True
3           True
4           True
           ...
2235175    False
2235176    False
2235177    False
2235178    False
2235179    False
Length: 2235180, dtype: bool

In [35]:
df[df.duplicated(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario',
       'id_exemplar', 'colecao', 'biblioteca', 'status_material',
       'localizacao', 'registro_sistema'], keep=False)].sort_values(by='id_emprestimo')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506524,2461097,2014083427,NaN,2016/06/14 11:17:29.152000000,2016/06/16 09:17:19.000000000,20160136918.0,ALUNO DE GRADUAÇÃO,1172546.0,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,328.0,175595.0
1506517,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,20170053372.0,ALUNO DE GRADUAÇÃO,1157755.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,392.0,200031.0
1506525,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,20170053372.0,ALUNO DE GRADUAÇÃO,1157755.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,392.0,200031.0
1506518,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2015021539.0,ALUNO DE GRADUAÇÃO,979548.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,612.0,112965.0
1506526,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2015021539.0,ALUNO DE GRADUAÇÃO,979548.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,612.0,112965.0

In [37]:
df[df.duplicated(df.columns, keep=False)].sort_values(by='id_emprestimo')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506524,2461097,2014083427,NaN,2016/06/14 11:17:29.152000000,2016/06/16 09:17:19.000000000,20160136918.0,ALUNO DE GRADUAÇÃO,1172546.0,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,328.0,175595.0
1506517,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,20170053372.0,ALUNO DE GRADUAÇÃO,1157755.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,392.0,200031.0
1506525,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,20170053372.0,ALUNO DE GRADUAÇÃO,1157755.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,392.0,200031.0
1506518,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2015021539.0,ALUNO DE GRADUAÇÃO,979548.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,612.0,112965.0
1506526,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2015021539.0,ALUNO DE GRADUAÇÃO,979548.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,612.0,112965.0

In [47]:
df_sem_duplicata = df.drop_duplicates(keep=False)
df_sem_duplicata = df_sem_duplicata.reset_index(drop = True)
print(df_sem_duplicata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235117 entries, 0 to 2235116
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    object
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  registro_sistema      float64
dtypes: float64(3), int64(1), object(9)
memory usage: 221.7+ MB
None

In [51]:
df_sem_duplicata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235117 entries, 0 to 2235116
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    object
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  registro_sistema      float64
dtypes: float64(3), int64(1), object(9)
memory usage: 221.7+ MB

In [53]:
df_sem_duplicata.to_csv("DataFrameDesafio_3.csv", index=None)